reference_data/
**/logs
**/*vcf.gz
**/*vcf.gz.tbi
**/*tsv
**/*txt
**/*out
**/*log
**/*snplist*
**/*pgen
**/*pvar
**/*psam
**/*yaml
**/*sif
**/*bed
workflow/envs/cache/
workflow/envs/**
.idea/
!config/config_example.yaml
!config/config.yaml
!config/sample_config.yaml
!project_data/2024-02-28_alma_finding_var_carriers_test/gene_list.txt
!project_data/2024-02-28_alma_finding_var_carriers_test/snakemake_call.sh
!project_data/2024-02-28_alma_finding_var_carriers_test/simpler_regions.txt
